{% extends "base.html" %}

{% block content %}

<p>
    Canadian cross country race results typically end up in PDFs from meet management programs like <a href="https://hytek.active.com/">HY-TEK</a>, <a href="https://www.goeasyware.com/">Easy Meet Manager</a>, and others.
</p>

<p>
    These PDFs are hard to read and isolated from one another. This site aims to make these results more accessible:
</p>

<ul>
    <li>Each race has individual and team results</li>
    <li>Data is linked together across races (runners, teams, etc.)</li>
    <li>Results are presented consistently in HTML (not PDFs!)</li>
</ul>

<p>
    For more information, see <a href="https://jhthompson.ca/posts/canada-xc/">the introductory blog post</a>.
</p>

{% endblock content %}
