{% extends "base.html" %}

{% load humanize racing_extras static %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">
    <h1>{{ meet.date.year }} {{ meet.name }}</h1>
    {% for conference in meet.conferences.all %}
        {% if conference.logo %}
            <img src="{{ conference.logo.url }}" alt="Conference logo" style="height: 3rem">
        {% endif %}
    {% endfor %}
</div>

{% for race in meet.race_set.all %}

<h2>
    <a href="{{ race.get_absolute_url }}">{{ race.get_display_distance }} - {{ race.get_sex_display }}</a>
</h2>

{% endfor %}

{% endblock content %}
