{% extends "base.html" %}

{% load racing_extras %}

{% block content %}

<h1>{{ team }} {{ year }} Roster</h1>

<h2>Male</h2>
<ul>
    {% for spot in males %}
        <li>{{ spot.runner.name }}</li>
    {% empty %}
        <li class="text-muted fst-italic">No team members</p>
    {% endfor %}
</ul>

<h2>Female</h2>
<ul>
    {% for spot in females %}
        <li>{{ spot.runner.name }}</li>
    {% empty %}
        <li class="text-muted fst-italic">No team members</p>
    {% endfor %}
</ul>
{% endblock content %}
