{% extends "base.html" %}

{% load humanize racing_extras static thumbnail %}

{% block extra_head %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js@11.0.3/public/assets/styles/choices.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/choices.js@11.0.3/public/assets/scripts/choices.min.js"></script>
{% endblock extra_head %}

{% block content %}
<h1>
    {{ runner.name }}
    {% with headshot=runner.get_headshot %}
        {% if headshot %}
            {% thumbnail headshot "75x75" crop="center top" as im %}<img class="rounded-circle border border-dark ms-1" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">{% endthumbnail %}
        {% endif %}
    {% endwith %}
</h1>

<h2>Teams</h2>
<div class="list-group mb-2">
    {% for spot in runner.rosterspot_set.all %}
        <a class="list-group-item list-group-item-action" href="{% url 'roster' spot.team.slug spot.year %}">{{ spot.team }} {{ spot.year }}</a>
    {% endfor %}
</div>

<h2>Results</h2>
<div class="list-group">
    {% for result in results %}
        <a class="list-group-item list-group-item-action d-flex align-items-center" href="{{ result.result.race.get_absolute_url }}">
            {% if result.position == 1 %}
                <img src="{% static 'gold.svg' %}" alt="Gold" class="me-2">
            {% elif result.position == 2 %}
                <img src="{% static 'silver.svg' %}" alt="Silver" class="me-2">
            {% elif result.position == 3 %}
                <img src="{% static 'bronze.svg' %}" alt="Bronze" class="me-2">
            {% endif %}
            {{ result.position|ordinal }} - {{ result.result.race.meet.name }} {{ result.result.race.meet.date.year }} ({{ result.result.race.get_display_distance }}, {{ result.result.time|finish_time }})
        </a>     
    {% endfor %}
</div>

<h2 class="mt-2">Head to Head</h2>
<div class="card">
    <div class="card-body p-0">
        <div class="row g-0">
            <div class="col-6 border-end">
                <div class="p-3 bg-light border-bottom d-flex justify-content-end align-items-center h-100" style="border-top-left-radius: var(--bs-card-border-radius);">
                    <h4 class="mb-0 text-center">{{ runnerA.name }}</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3 bg-light border-bottom d-flex justify-content-start align-items-center h-100" style="border-top-right-radius: var(--bs-card-border-radius);">
                    <select 
                        id="head-to-head-choices" 
                        data-placeholder="Select a runner"
                        hx-get="{% url 'runner' runnerA.slug %}"
                        hx-push-url="true"
                        hx-target="#head-to-head-results"
                        name="head-to-head"
                    >
                        {% for runner in all_runners %}
                            <option value="{{ runner.slug }}" {% if runner.slug == runnerB.slug %}selected{% endif %}>{{ runner.name }}</option>
                        {% endfor %}
                    </select>
                    <script>
                        const element = document.querySelector('#head-to-head-choices');
                        const choices = new Choices(element, {
                            searchPlaceholderValue: 'Search by name...',
                            classNames: {
                                containerOuter: ['choices', 'flex-grow-1', 'w-100', 'mb-0'],
                                containerInner: ['choices__inner', 'bg-white'],
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {% include "racing/partials/head_to_head.html" %}
    </div>
</div>

{% endblock content %}
