{% extends "base.html" %}

{% load humanize racing_extras static %}

{% block content %}
<h1>{{ runner.name }}</h1>

<h2>Teams</h2>
<div class="list-group mb-2">
    {% for spot in runner.rosterspot_set.all %}
        <a class="list-group-item list-group-item-action" href="{% url 'roster' spot.team.slug spot.year %}">{{ spot.team }} {{ spot.year }}</a>
    {% endfor %}
</div>

<h2>Results</h2>
<div class="list-group">
    {% for result in results %}
        <a class="list-group-item list-group-item-action d-flex align-items-center" href="{{ result.result.race.get_absolute_url }}">
            {% if result.position == 1 %}
                <img src="{% static 'gold.svg' %}" alt="Gold" class="me-2">
            {% elif result.position == 2 %}
                <img src="{% static 'silver.svg' %}" alt="Silver" class="me-2">
            {% elif result.position == 3 %}
                <img src="{% static 'bronze.svg' %}" alt="Bronze" class="me-2">
            {% endif %}
            {{ result.position|ordinal }} - {{ result.result.race.meet }} {{ result.result.race.meet.date.year }} ({{ result.result.time|finish_time }})
        </a>     
    {% endfor %}
</div>


{% endblock content %}
