{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canada XC</title>
    <link href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
                <img src="{% static 'maple-leaf.svg' %}" alt="Canadian XC Logo" height="40" class="me-2">
                <span class="fw-bold">Canada XC</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'runners' %}">Runners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'results' %}">Results</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
                    </li> {% endcomment %}
                    {% comment %} TODO: <li class="nav-item">
                        <a class="nav-link" href="{% url 'ranking' %}">Rankings</a>
                    </li> {% endcomment %}
                    {% comment %} TODO: <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container pt-4">
        {% block content %}
        {% endblock content %}
    </main>

    <div class="container">
        <footer class="py-3 my-4 border-top">
            <p class="fw-light mb-0">
                Site created and maintained by <a href="https://jhthompson.ca">Jeremy Thompson</a>
            </p>
        </footer>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <!-- htmx -->
    <script src="{% static 'htmx-2.0.3/htmx.min.js' %}"></script>

    <!-- goatcounter -->
    <script data-goatcounter="https://canadaxc.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>

</html>
